<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar serviço - marcar-já!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'my_scheduler_api/bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- Scripts do jQuery e do Bootstrap (necessários para o Bootstrap Datepicker) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <style>
        #logo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
        }

        #logo img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body class="bodyDiferent">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div id="content">
                <div class="mb-3 text-center">
                    <div id="banner" class="container-fluid bg-primary py-5">
                        {% if servico.icon %}
                            <img src="{{ servico.banner.url }}" class="img-fluid" alt="Logo do serviço">
                        {% else %}
                            <p>Não há banner disponível para este serviço.</p>
                        {% endif %}
                    </div>
                    <div id="logo" class="mx-auto mb-3">
                        {% if servico.icon %}
                            <img src="{{ servico.icon.url }}" class="img-fluid" alt="Logo do serviço">
                        {% else %}
                            <p>Não há ícone disponível para este serviço.</p>
                        {% endif %}
                    </div>
                    <h2>Reserva de Serviço</h2>
                </div>
                <form id="submitServiceRegist" action="{% url 'my_scheduler_api:appointment' servico_id=servico.id %}"
                      method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome"
                               value="{{ request.user.client.name }}" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                               value="{{ request.user.client.email }}" required>
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" id="phone" name="phone" placeholder="Telefone"
                               value="{{ request.user.client.phone }}" required>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" id="selected_times2" name="selected_times2" placeholder="Horário"
                                required>
                            {% for time in servico.selected_times %}
                                <option value="{{ time }}">{{ time }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" id="menuItems2" name="menuItems2" required>
                            {% for item in servico.menuItems %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control datepicker" id="data" name="data"
                               placeholder="Selecionar Data" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy', // Formato da data
            autoclose: true // Fecha o calendário ao selecionar uma data
        });
    });
</script>
</body>
</html>
